body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 5px;
    height: 100vh;
    gap: 5px;
    padding: 0px;
    

}
 .d1{
    grid-column: 1/2;
    grid-row: 1/13;
    background-color: aqua;
 }
  .d2{
    grid-column: 2/3;
    grid-row: 1/7;
    background-color: aqua;
 }
  .d3{
    grid-column: 2/3;
    grid-row: 7/13;
    background-color: aqua;
 }
  .d4{
    grid-column: 3/4;
    grid-row: 1/5;
    background-color: aqua;
 }
  .d5{
    grid-column: 3/4;
    grid-row: 5/9;
    background-color: aqua;
 }
  .d6{
    grid-column: 3/4;
    grid-row: 9/13;
    background-color: aqua;
 }
  .d7{
    grid-column: 4/5;
    grid-row: 1/4;
    background-color: aqua;
 }
  .d8{
    grid-column: 4/5;
    grid-row: 4/7;
    background-color: aqua;
 }
  .d9{
    grid-column: 4/5;
    grid-row: 7/10;
    background-color: aqua;
 } 
  .d10{
    grid-column: 4/5;
    grid-row: 10/13;
    background-color: aqua;
 }
  .d11{
    grid-column: 5/6;
    grid-row: 1/3;
    background-color: aqua;

 }
  .d12{
    grid-column: 5/6;
    grid-row: 3/6;
    background-color: aqua;
 }
  .d13{
    grid-column: 5/6;
    grid-row: 6/9;
    background-color: aqua;
  }
   
  .d14{
    grid-column: 5/6;
    grid-row: 9/12;
    background-color: aqua;
  }
 .d15{
    grid-column: 5/6;
    grid-row: 12/13;
    background-color: aqua;

 }
 .d16{
    grid-column: 6/6;
    grid-row: 1/2;
    background-color: aqua;

 }
 .d17{
    grid-column: 6/6;
    grid-row: 2/4;
    background-color: aqua;

 }
 .d18{
    grid-column: 6/6;
    grid-row: 4/6;
    background-color: aqua;

 }
 .d19{
    grid-column: 6/6;
    grid-row: 6/8;
    background-color: aqua;

 }
 .d20{
    grid-column: 6/6;
    grid-row: 8/10;
    background-color: aqua;

 }
 .d21{
    grid-column: 6/6;
    grid-row: 10/12;
    background-color: aqua;

 }
 .d22{
    grid-column: 6/6;
    grid-row: 12/13;
    background-color: aqua;

 }
 .d23{
    grid-column: 6/6;
    grid-row: 1/13;
    background-color: aqua;

 }
 .d24{
    grid-column: 6/6;
    grid-row: 1/13;
    background-color: aqua;

 }
